[submodule "swissround"]
	path = swissround
	url = git@github.com:ptut-morpx/swissround.git
	branch = master
[submodule "datagestion"]
	path = datagestion
	url = git@github.com:ptut-morpx/datagestion.git
	branch = master
[submodule "morpx"]
	path = morpx
	url = git@github.com:ptut-morpx/morpx.git
	branch = master
